body {
    font-family: Arial, sans-serif;
    background-color: #4169E1; /* Fondo azul rey */
    color: #fff; /* Texto blanco */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2 {
    color: #fff;
}

div {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003d80;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
}

#result div {
    margin-bottom: 5px;
}

#result span {
    display: inline-block;
    width: 50px;
    text-align: center;
}